.page-title-box {
  padding: 80px 0;
  border-top: 1px solid $light-gray;

  .page-title {
    font-size: 57px;
    line-height: 70px;
    margin: 0;
  }

  @media only screen and (max-width: $mobile) {
    padding: 40px 0;

    .page-title {
      font-size: 47px;
      line-height: 53px;
    }
  }
}

.page__head {
  
  .page-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $light-gray;
    &:after {
      content: "";
      display: table;
      width: 100%;
      min-height: 300px;
      padding-top: 50%;
    }
  }

  .page-video {
    position: relative;
    width: 100%;           // fills parent container
    padding-top: 30%;      // taller aspect ratio (adjustable: 56.25% = 16:9)
    max-height: 200px;     // optional: cap the tallest video
    background: $light-gray;
    overflow: hidden;
    border-radius: 8px;    // optional: rounded corners

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;   // fills container proportionally
  }
}
  
}

.page {
  margin: 80px auto;

  img {
    margin: 30px 0;
  }

  @media only screen and (max-width: $tablet) {
    margin: 40px auto;
  }
}

.page-box {
  text-align: center;

  .back-arrow {
    a {
      display: inline-block;
      margin-left: 10px;
      color: $dark;
      font-weight: 700;
      &:hover {
        color: $black;
      }
    }
  }
}