.hero {
  padding: 20px 0;
  margin-bottom: 20px;
  background: $brand-color-background;

  border: 2px solid $dark; // or any color you want

  .last-item {
    display: flex;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 20px 0 0;
    
    .hero__title {
      font-size: 48px;
      font-weight: normal;
      color: $dark;
    }

    .hero__subtitle {
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 0.5px;
      color: $dark;
    }

    .hero__social {
      display: flex;
      // font-size: 18px;
      color: $dark;
        a,
        svg,
        i {
          color: $dark;
          fill: $dark;
        }
    }

    .hero__social-title {
      font-weight: 700;
      color: $dark;
    }

  }

  .hero__image {
    margin-left: 360px;
=

    img {
      width: 220px;   // control size here
      height: 220px;  // control size here
      object-fit: cover; // prevents stretching
      border-radius: 8px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
      display: block;
    }
  }


  @media only screen and (max-width: $desktop) {
    .hero__content {
      padding: 0;

      .hero__subtitle {
        font-size: 16px;
        line-height: 28px;
      }
    }
  }

  @media only screen and (max-width: $tablet) {
    margin-bottom: 40px;

    .last-item {
      order: 1;
    }

    .hero__content {
      .hero__title {
        margin-bottom: 20px;
        font-size: 27px;
      }
    }

    .hero__image {
      margin-bottom: 20px;
      
      img {
        box-shadow: none;
      }
    }
  }

  @media only screen and (max-width: $mobile) {
    padding: 40px 0;

    .hero__image {
      display: none;
    }

    .hero__content {
      width: 100%;
      margin: 0 auto;
      text-align: center;

      .hero__social {
        justify-content: center;
      }
      .hero__subtitle {
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.3px;
      }
    }
  }
}