.hero {
  padding: 20px 0;
  margin-bottom: 20px;
  background: #815a5a;

  .last-item {
    display: flex;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 20px 0 0;
    
    .hero__title {
      font-size: 48px;
      font-weight: normal;
      color: #ffffff;
    }

    .hero__subtitle {
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 0.5px;
      color: #ffffff;
    }

    .hero__social {
      display: flex;
    }

    .hero__social-title {
      font-weight: 700;
      color: #ffffff;
    }

  }

  .hero__image {
    margin-left: 360px; // move image to the right
    img {
      box-shadow: 0 1px 4px rgba(0,0,0,0.15);
    }
  }

  @media only screen and (max-width: $desktop) {
    .hero__content {
      padding: 0;

      .hero__subtitle {
        font-size: 16px;
        line-height: 28px;
      }
    }
  }

  @media only screen and (max-width: $tablet) {
    margin-bottom: 40px;

    .last-item {
      order: 1;
    }

    .hero__content {
      .hero__title {
        margin-bottom: 20px;
        font-size: 27px;
      }
    }

    .hero__image {
      margin-bottom: 20px;
      
      img {
        box-shadow: none;
      }
    }
  }

  @media only screen and (max-width: $mobile) {
    padding: 40px 0;
  }
}