---
layout: default
tag: python
permalink: /tag/python/
---

<div class="archive-projects container">
  {% assign posts_with_tag = "" | split: "" %}

  {% for post in site.posts %}
    {% assign post_tags = post.tags | split: "," %}
    {% if post_tags contains page.tag %}
      {% assign posts_with_tag = posts_with_tag | push: post %}
    {% endif %}
  {% endfor %}

  {% for post in posts_with_tag %}
    <div class="project-card">
      <h3>{{ post.title }}</h3>
      <a href="{{ post.url }}">Read more</a>
    </div>
  {% endfor %}

  {% if posts_with_tag == empty %}
    <p>No posts found for this tag.</p>
  {% endif %}
</div>
