---
layout: default
tag: my-tag
---

<div class="archive-head">
  <div class="container">
    <h1 class="archive-title">Tag: <span>{{ page.tag }}</span></h1>
  </div>
</div>

<div class="archive-projects container">
  {% assign posts_with_tag = site.posts | where_exp:"post","post.tags contains page.tag" %}
  {% for post in posts_with_tag %}
    <div class="project-card">
      <div class="project-info">
        <h3>{{ post.title }}</h3>
        <a href="{{ post.url }}">Read more</a>
      </div>
    </div>
  {% endfor %}
</div>
